<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            A place for people who work in government organisations to find, request and share&nbsp;data
        </h1>
        <p class="govuk-body-l govuk-!-margin-bottom-4">
            The Data Marketplace is currently in private beta.
        </p>
        <p class="govuk-body-l govuk-!-margin-bottom-4">
            <a class="govuk-link" asp-controller="Support" asp-action="@nameof(SupportController.GetStarted)">Find out if you can use it</a> or if you have access, <a class="govuk-link" href="@Url.Page("/Auth/SignIn")">sign in</a>.
        </p>
    </div>
    <div class="govuk-grid-column-one-third">
        <img style="max-width: 100%;" class="govuk-!-margin-top-6" src="~/assets/images/data-marketplace-home-image.png" alt="Illustration of a laptop with a search screen. Around the laptop are abstract images of data graphs and charts, and a map of the UK.">
    </div>
</div>