{% extends "base.njk" %}

{% block content %}
<div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                        A place for people who work in government organisations to find, request and share&nbsp;data
                    </h1>
                    <p class="govuk-body-l govuk-!-margin-bottom-4">
                        The Data Marketplace is currently in private beta.
                    </p>
                    <p class="govuk-body-l govuk-!-margin-bottom-4">
                        <a class="govuk-link" href="/support/get-started">Find out if you can use it</a> or if you have access, <a class="govuk-link" href="/auth/signin">sign in</a>.
                    </p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <img style="max-width: 100%;" class="govuk-!-margin-top-6" src="/assets/images/home-image.png" alt="Illustration of a laptop with a search screen. Around the laptop are abstract images of data graphs and charts, and a map of the UK.">
                </div>

        </div>
        <div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m">Find government data</h2>
                <p class="govuk-body">This includes open data and data that is not publicly available. For example, <a class="govuk-link" href="https://www.gov.uk/government/publications/essential-shared-data-assets-and-data-ownership-in-government">Essential Shared Data Assets</a>.</p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m">Request data from other organisations</h2>
                <p class="govuk-body">The Data Marketplace guides you through the data request process. Answer a short, standardised  <a class="govuk-link" href="/support/data-share-request-questions">set of questions</a> to submit your request.</p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m">Publish your data</h2>
                <p class="govuk-body">List your data in the Data Marketplace catalogue so other users can find and request it. You can complete a web form, or  <a class="govuk-link" href="/support/support-api">automate your listings with our API</a>.</p>
            </div>
            <div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-m">Manage data requests</h2>
                <p class="govuk-body">Review and approve requests for your data from other organisations. You can  <a class="govuk-link" href="/support/roles">assign roles</a> in your organisation so people only have the permissions they need.</p>
            </div>
    </div>
</div>
{% endblock %}